<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="app.component" href="app.component.css">
  <title>Document</title>
</head>
<body>
  <div class="bigbox">
    <h1 class="">Profile</h1>
    <p class="">I'm a dicipline industrial engineer</p>
    <div class="">
      <img src="https://media.licdn.com/dms/image/C4D03AQFVbUgOQyWW1Q/profile-displayphoto-shrink_200_200/0/1631551637641?e=1710979200&v=beta&t=zmqAYcVeq8YmkairRoVnnXS0t9S8Myyj7A8qs0OdSt8" alt="FOTO">
      <img src="src/libraries/imagen.jpg" alt="foto">
    </div>
    <div class="">
      <div class="">
        <h3 class=""></h3>
        <p class="">
          I am an industrial engineer focused on analyzing and coordinating projects, with abilities for investigation and continuous learning environments.
        </p>
      </div>
    </div>
    <div class="littlebox">
      <div class="">
        <h3 class="">Details</h3>
        <p class="">
          <span style="font-weight: 700;">Name: </span>
          <br>Camilo Diaz<br>
          <span style="font-weight: 700;">Age: </span>
          <br>27 years <span style="font-weight: 700;">
            <br>Location:
          </span>
          <br>Bogota D.C.,Colombia
        </p>
        <div class="">
          <a class="" title="facebook" target="_blank" href=""><span class=""><svg class="" style><use></use></svg><svg class="" id=""><path fill="currentColor"></path></svg></span>
          </a>
          <a class="" title="twitter" target="_blank" href=""><span class=""><svg class=""><use ></use></svg><svg class="" id=""><path fill="currentColor"></path></svg></span>
          </a>
          <a class="" title="instagram" target="_blank" href=""><span class=""><svg class="" style></svg><svg class="" x="0" y="0" id="svg-ea73"><path fill="currentColor"></path><path fill="#FFFFFF"></path><path fill="currentColor"></path></svg></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>